.wrapper{
    height: 100vh;
}

.login{
    width: 350px;
    padding:20px;
    height:min-content;
    border-radius:10px;
    color:black;
    background-color:white;

}
.btn-dark-blue {
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
    border-radius:20px;
    padding:10px 4px;
    outline: none;
}
.footer{
    margin-top: 40px;
    font-size:small;
    color:gray;
    text-align: center;
}
.font{
    font-weight:600;
    font-size:1rem;
    color: #348AC7;
}